renderer/jpeg-6/jerror.c
renderer/jpeg-6/jmemdos.c
renderer/jpeg-6/jmemmgr.c
renderer/jpeg-6/jpeglib.h
renderer/jpeg-6/jpegtran.c
renderer/textcide,cpp.text
openal/include/efxlib.h
openal/include/efxlib.h
curl/docs/libcurl/curl_getenv.html
curl/docs/libcurl/curl_mprintf.html
curl/docs/libcurl/curl_slist_append.3
curl/docs/libcurl/curl_slist_append.html
curl/docs/examples/curlx.c
curl/docs/libcurl/curl_getenv.html
curl/docs/libcurl/curl_mprintf.html
curl/docs/libcurl/curl_slist_append.3
curl/docs/libcurl/curl_slist_append.html
curl/lib/formdata.c
curl/lib/getdate.c
curl/lib/sendf.c
curl/config.guess
curl/config.sub
curl/ltmain.sh
curl/docs/examples/curlx.c
curl/docs/libcurl/curl_getenv.html
curl/docs/libcurl/curl_mprintf.html
curl/docs/libcurl/curl_slist_append.3
curl/docs/libcurl/curl_slist_append.html
curl/lib/formdata.c
curl/lib/getdate.c
curl/lib/sendf.c
curl/src/writeenv.c
openal/include/efxlib.h
sys/linux/R_StartMenuOSS.cpp
